* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CaskaydiaCove Nerd Font Mono";
}

body {
    background: #969696;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

}