* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CaskaydiaCove Nerd Font Mono";
}

body {
    width: 100vw;
    height: 100vh;
    background: #969696;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    border-radius: 1rem;
    padding: 1rem;
    background: white;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.container form input {
    padding: .8rem;

}