* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CaskaydiaCove Nerd Font Mono";
}

body {
    background: #969696;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    border-radius: 1rem;

    background: white;
}