@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input[type="checkbox"] {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: .8rem;
        cursor: pointer;
        background: #ccc;
    }

    input[type="checkbox"]:checked {
    }
}