@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    --neutral : #737373;
    --background : #6b7280;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 450px;
    background: white;

    padding: .8rem;
    border-radius: .8rem;
}

.container header {
    font-size: .9rem;
    text-transform: uppercase;
}

.container header h1 {
    font-weight: 400;
    color: var(--neutral);
}

.container form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.container form button {
    padding: .8rem;
    font-size: 1rem;
}